### General macOS things to ignore ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Files that might appear in the root of a volume ###
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Directories potentially created on remote AFP share ###
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Nodejs & npm things ###
node_modules/
package-lock.json

### Ruby and Bundler items to ignore ###
# Bundler/Gem files to avoid
Gemfile.lock

### Jekyll things to ignore ###
# Jekyll v4+ cache dir
.jekyll-cache/
.sass-cache 
.jekyll-metadata

# Ruby Version Manager (RVM) file
.ruby-version
