{% assign accordion_id = page.title | replace: ' ', '' %}
{% assign page_title = page.title %}
{% assign sorted_cards = site.accordions | where: "accordion_page", page_title | sort: "order" %}
<div class="accordion" id="{{ accordion_id}}accordion">
  {% for card in sorted_cards %}
  {% assign card_id = card.title | downcase | replace: ' ', '-' | remove: '.' %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{ cardi_id }}">
      <button
        class="accordion-button{% unless forloop.first %} collapsed{% endunless %}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ card_id }}"
        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
        aria-controls="{{ card_id }}">
        {{ card.title }}
      </button>
    </h2>
    <div
      id="{{ card_id }}"
      class="accordion-collapse collapse{% if forloop.first %} show{% endif %}"
      aria-labelledby="{{ card_id }}">
      <div class="accordion-body">
        {{ card.content }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>